<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>singleton</title>
		<style type="text/css">
			.container{width: 1080px;margin: 20px auto;}
		</style>
	</head>
	<body>
		<div class="container">
			<p>单例模式，简单来说就是一个实例只生产一次</p>
			<p>好处是对于频繁使用且可重复使用的对象，可以极大来减少内存消耗和没必要的垃圾回收</p>
			<p>打个比方</p>
			<p>封装一个消息弹窗，显示后消失，不从dom删除，每次用的时候，更换文案再次显示，这就是单例的感觉了</p>
			<p>当然，如果你在弹出后从dom上删除了，就不是这种感觉了</p>
			<p>剩下看源码吧</p>
		</div>
		<script type="text/javascript">
			class Singleton {
				static getInstance() {
					if (Singleton.instance) {
						return Singleton.instance
					}
					Singleton.instance = {}
					Singleton.instance.__proto__ = Singleton.prototype
					return Singleton.instance
				}
				showMessage() {
					console.log('Hello world')
				}
			}
			const instance = Singleton.getInstance()
			instance.showMessage()
		</script>
	</body>
</html>